# ⚡ Rony PC Telegram Bot Configuration ⚡

BOT_TOKEN=YOUR_BOT_TOKEN_HERE

# PC Info
PC_NAME=Rony
PC_IP=192.168.1.166
PC_MAC=A0:AD:9F:07:26:40
PC_PORT=9
PUBLIC_IP=92.52.144.233

# Security & Credentials
ALLOWED_USERS=YOUR_TELEGRAM_USER_ID

# Media
YT_MUSIC_URL=https://music.youtube.com/watch?v=1rXJbd3I2W4&list=RDAMVMn6P0SitRwy8